{% extends 'random_category/base.html' %}
{% load static %}

{% block content %}

<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{total_random_detail.category}}" >
        <img class="img-fluid img-pump masthead-avatar mb-5" src="{% static 'assets/img/totalrandom.png' %}" alt="..." />
        </div>
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Total Random </h1>
    </div>
</header>
<!-- Category Section-->
{% include 'random_category/category.html' %}

<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <br><br>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-10 ms-auto"><h1>Random Taifa is project made to make you more happy and spontanic in your live. If you want to feall more spotanic in your live use our website and help us develop it by your personal feedback and donation!</h1></div>
            <div class="col-lg-10 ms-auto">
                <h3>{{quote.quote | safe}}</h3>
            </div>
        </div>
    </div>
</section>

      
<!-- Modals-->
{% include 'random_category/modal.html' %}

   
{% endblock %}